p, h2, h1 {
  color: wheat;
  font-size: large;
  font-weight: bold;
  margin-top: auto;
  padding-left: 10px;

}

h1{
  padding-top: 10px;
  font-size: 30px;
}

h2{
  font-size: 20px;
}

/*Kuva ihan oma :)*/
.tausta{
  background-image:  url("background.jpg");
  background-size: cover;
  height: 100vh;
  background-repeat: repeat; 
  background-attachment: fixed;
  
}